# Auth Database - Neon PostgreSQL
NEON_HOST=
NEON_USERNAME=
NEON_PASSWORD=

# Individual shard database URLs
SHARD_VN_URL=
SHARD_SG_URL=
SHARD_ASIA_URL=
SHARD_OCEANIA_URL=
SHARD_NA_URL=
SHARD_EU_URL=
SHARD_OTHERS_URL=

# Company Database - Neon PostgreSQL
POSTGRES_COMPANY_URL=
POSTGRES_COMPANY_USERNAME=
POSTGRES_COMPANY_PASSWORD=

# Job Post Database - Neon PostgreSQL
POSTGRES_JOBPOST_URL=
POSTGRES_JOBPOST_USERNAME=
POSTGRES_JOBPOST_PASSWORD=

# Notification Database - Neon PostgreSQL
POSTGRES_NOTIFICATION_URL=
POSTGRES_NOTIFICATION_USERNAME=
POSTGRES_NOTIFICATION_PASSWORD=

# Payment Database - Neon PostgreSQL
POSTGRES_PAYMENT_URL=
POSTGRES_PAYMENT_USERNAME=
POSTGRES_PAYMENT_PASSWORD=

# Subscription Database - Neon PostgreSQL
POSTGRES_SUBSCRIPTION_URL=
POSTGRES_SUBSCRIPTION_USERNAME=
POSTGRES_SUBSCRIPTION_PASSWORD=

# Applicant Search Database - Neon PostgreSQL
POSTGRES_APPLICANT_SEARCH_URL=
POSTGRES_APPLICANT_SEARCH_USERNAME=
POSTGRES_APPLICANT_SEARCH_PASSWORD=

# Redis - Upstash
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_SSL_ENABLED=

# Mail Service
MAIL_USERNAME=
MAIL_PASSWORD=

# GOOGLE OAUTH
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# JWE keys
JWE_PRIVATE_KEY=
JWE_PUBLIC_KEY=

# Stripe
STRIPE_API_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_APPLICANT_PRICE_ID=
STRIPE_COMPANY_PRICE_ID=
STRIPE_PUBLISHABLE_KEY=

# Docker Hub
DOCKERHUB_USERNAME=
DOCKERHUB_TOKEN=

# EC2
EC2_HOST=
EC2_USER=
EC2_SSH_KEY=
